@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #fdfcf6; }

a {
  color: #14c0c9;
  text-decoration: none; }
  a:visited {
    color: #0f949b; }
  a:hover {
    color: #0f949b; }
  a:active {
    color: #16d6e0; }
  a:hover {
    text-decoration: underline; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2, #Columns h3, footer .button-readmore {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, #Columns h3, footer .button-readmore {
  text-transform: uppercase; }

/* Header 消さない
------------------------------------------------------------*/
header .header-image {
  background-image: url("../images/header.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center; }

@media (max-width: 768px) {
  /* Header
  ------------------------------------------------------------*/
  header .header-image {
    background-image: url("../images/header.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center; } }
/* ここまで ヘッダー */
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#Columns {
  background-color: #bea300; }
  #Columns .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  #Columns h2 {
    color: #fdfcf6;
    margin-bottom: 60px; }
  #Columns .box1 {
    margin: 10px 10px;
    padding: 0px;
    background-color: #14c0c9;
    color: #4c4c4c; }
  #Columns .box2 {
    margin: 0px;
    padding: 20px;
    background-color: #14c0c9; }
  #Columns h3 {
    color: #14c0c9;
    background-color: #fff;
    font-size: 2.4rem;
    font-weight: bold; }

@media (max-width: 768px) {
  .container {
    flex-direction: column; }

  .box1 {
    margin: 10px 10px;
    background-color: #fdfcf6; } }
/* Footer
------------------------------------------------------------*/
footer {
  background-color: #14c0c9;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }
  footer .button-readmore {
    margin: auto;
    text-align: center;
    padding: 5px 0;
    width: 180px;
    display: block;
    color: #FFF;
    font-weight: bold;
    background-color: #bea300;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1rem; }

@media (max-width: 768px) {
  .button-readmore:hover {
    background-color: #0f949b; } }

/*# sourceMappingURL=style.css.map */
